
@page
@model IndexModel

@{
    //REMINDER : this is the page that loads when you go to the default url
}

@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4"> Nuzlocke Assistant </h1>
</div>


