<h3>NuzlockePage</h3>

@code {
    /*
     * Nuzlocke rules are as follows
     * 
     * (track nicknames) team of 6 - boxes - dead
     * encounters
     * 
     * -hardcore includes
     * include a gym level-level cap thing.
     */

}
