@page "/Gen1Pokedex"
@namespace Gen1Pokedex
@using displaygen1
@using System.Data

<h3>Generation 1 Pokedex</h3>

@{
    ViewData["Title"] = "Gen1Pokedex";
}

<component type="typeof(DisplayGen1)" render-mode="ServerPrerendered"/>



