@inherits LayoutComponentBase

<PageTitle>Journey Assistant</PageTitle>

<style>
    #grad1 {
        height: 100%;
        background-color: deepskyblue;
        background-image: linear-gradient(to bottom right, deepskyblue, magenta);
    }
</style>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" id="grad1">

            @Body
        </article>
    </main>
</div>
